absl-py==2.1.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
attrs
Babel
beautifulsoup4
bleach
Brotli
certifi
cffi
charset-normalizer
colorama
comm
contourpy==1.3.1
cycler==0.12.1
debugpy
decorator
defusedxml
executing
fastjsonschema
flatbuffers==24.3.25
fonttools==4.55.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.0
h11
h5py==3.12.1
httpcore
httpx
idna
ipykernel
ipython
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras==3.6.0
keras-tuner==1.4.7
kiwisolver==1.4.7
kt-legacy==1.0.5
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mistune
ml-dtypes==0.4.1
namex==0.0.8
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
overrides
packaging
pandas==2.2.3
pandocfilters
parso
pillow==11.0.0
platformdirs
plotly==5.24.1
prometheus_client
prompt-toolkit
protobuf==5.28.3
psutil
pure-eval
pycparser
Pygments
pyparsing==3.2.0
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.9.4
rpds-py
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
Send2Trash
setuptools==75.1.0
six
sniffio
soupsieve
stack-data
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado
threadpoolctl==3.5.0
tinycss2
tornado
traitlets
typing_extensions
tzdata==2024.2
urllib3
wcwidth
webencodings
websocket-client
Werkzeug==3.1.3
wheel==0.44.0
win-inet-pton
wrapt==1.16.0